body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

input {
    border: 3px outset white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 6px;
    outline: none;
}

input:focus {
    border: 3px inset red;
}

a,
a:visited,
a:focus {
    color: white;
    border: 3px white outset;
    border-radius: 5px;
    padding: 3px;
}

a:hover {
    border-color: red;
}

a:active {
    border-style: inset;
}

button {
    color: white;
    background: transparent;
    border: 3px outset white;
    border-radius: 5px;
    padding: 3px;
}

button:hover {
    border-color: red;
}

button:active {
    border-style: inset;
}